{{import_globals}}
<div class="component__inner vimeo__inner">

  {{> component this}}

  {{#any _transcript._externalTranscript _transcript._inlineTranscript}}
  <button class="aria-label js-skip-to-transcript" tabindex="-1" aria-label="{{_globals._components._vimeo.skipToTranscript}}"></button>
  {{/any}}

  <div class="component__widget vimeo__widget"></div>

</div>
